<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog Application!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body class="bg-light">

  <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"
       href="{{ path('post_index') }}"> Blog</a>
    <div class="w-100 order-1 order-md-0">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('post_add') }}">
                    {{ 'Add new'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_USER') %}
                <li class="dropdown nav-item text-nowrap">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">
                            {% if app.user.preferences.locale == "en" %}
                            {{ 'English'|trans }} {% else %}
                            {{ 'Romanian'|trans }}
                            {% endif %} <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-dark" role="menu">
                        <li><a class="nav-link" href="{{ path('user_changelanguage', { 'language': 'en' }) }}"><span class="flag-icon flag-icon-us"></span> {{ 'English'|trans }}</a></li>
                        <li><a  class="nav-link" href="{{ path('user_changelanguage', { 'language': 'ro' }) }}"><span class="flag-icon flag-icon-mx"></span>{{ 'Romanian'|trans }}</a></li>
                    </ul>
                </li>
                <li class="nav-item text-nowrap border-right border-secondary">
                    <a href="{{ path('notification_all') }}" class="nav-link">
                        {{ 'Notification'|trans }}
                        <span class="badge badge-light" id="notification-count">
                            <i class="fa fa-circle fa-circle-o-notch fa-spin"></i>
                        </span>
                    </a>
                </li>
                <li class="dropdown nav-item text-nowrap">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.fullName }} <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-dark" role="menu">
                        <li><a class="nav-link" href="{{ path('post_user', { 'username': app.user.username }) }}"> {{ 'User Posts'|trans }}</a></li>
                        <li><a  class="nav-link" href="{{ path('user_updateprofile') }}">{{ 'Update profile'|trans }}</a></li>
                    </ul>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('security_logout') }}">
                        {{ 'Sign out'|trans }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('security_login') }}">
                       {{ 'Sign in'|trans }}
                    </a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('user_register') }}">
                       {{ 'Register'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">

        {% block body %}
        {% endblock %}

    </div>
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

{% if is_granted('ROLE_USER') %}
    <script>
        function fetchNotificationCount() {
                fetch(
                    "{{ path('notification_unread') }}",
                    {'credentials': 'include'}
                ).then(function (response) {
                    response.json().then(function (json) {
                        document.getElementById('notification-count').innerText = json.count;
                        setTimeout(fetchNotificationCount, 5000);
                    });
                }).catch(function (reason) {

                });
            }

            fetchNotificationCount();

    </script>
{% endif %}
</body>
</html>
